.player {
    border: 1px solid;
    @include color('bg','br', -3);
    @include color('bg','bg', 5);
    display: flex;
    flex-wrap: wrap;
}
.player__name {
    flex: 40%;
    margin: 0;
    padding: 20px;
    text-align: center;
    @include color('bg','bg', 5);
    @include color('text-light','c', 100);
}

.player__score {
    flex: 40%;
    margin: 0;
    padding: 20px;
    text-align: center;
    @include color('bg','bg', 5);
    @include color('text-light','c');
}

.player__move {
    text-align: center;
    flex: 100%;
    @include color('bg','bg', 10);
    padding: 30px;
}

.player__move-icon {
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    @include color('main', 'c');
    font-size: 6rem;
}

@keyframes iconRotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}

.player__move-icon--animation {
    text-shadow: none;
    @include color('bg', 'br', 5);
    @include color('bg', 'bg', 10);
    @include color('bg', 'c', 15); 
    animation: iconRotation 3s infinite linear;
}

.player__controls {
    flex: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
} 

.player__control {
    border: 1px solid;
    @include color('main','br', -5);
    @include color('main', 'bg');
    @include color('text-light', 'c');
    margin: 5px;
    padding: 10px;
    &:hover {
        @include color('main', 'br', -25);
        @include color('main', 'bg', -20);
    }
    &:disabled {
        @include color('bg', 'br', 5);
        @include color('bg', 'bg', 10);
        @include color('bg', 'c', 15); 
    }
}


.player__control-icon {
    font-size: 2rem;
}


